.App hr {
  border: 2px solid #f3f4f6;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.App {
  max-width: 700px;
  border: 2px solid #44555f;
  padding: 25px;
  margin-top: 20px;
  background: linear-gradient(
    180deg,
    rgb(191, 241, 236) 22.3%,
    rgb(109, 192, 236) 84.1%
  );
  font-family: "Maven Pro", sans-serif;
  color: #44555f;
  display: block;
  margin: 20px auto;
  border-radius: 5px;
  text-align: center;
}
