.CurrentCityWeather .current-city,
.current-weather {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  padding-left: 5px;
  text-align: center;
}

.CurrentCityWeather .current-weather {
  font-size: 70px;
}

.CurrentCityWeather .current-date .current-time {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 5px;
  text-align: center;
}

.CurrentCityWeather .current-temp {
  font-size: 40px;
  margin-bottom: 1px;
}

.CurrentCityWeather .current-description {
  text-transform: capitalize;
  margin-top: -5px;
  font-size: x-large;
  text-align: center;
}

.CurrentCityWeather .hum-wind-max {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.CurrentCityWeather .humidity,
.wind,
.maximum {
  font-size: 25px;
  padding-left: 30px;
}

.CurrentCityWeather small {
  font-size: 20px;
  padding-left: 5px;
  color: #7c888f;
}

.CurrentCityWeather h3.humidity,
h3.wind,
h3.maximum {
  padding-left: 0;
}
